$main-font: "Roboto", sans-serif;
$corporate: #00acdc;
$card-border: #f3f3f3;
$white: #fff;
$header-height: 60px;
$card-width: 200px;
$grid-gap: 50px 48px;
$grid-padding: 0 40px;
$grid-margin: 50px auto 0;
